body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
  padding: 10px

}

.navbar-brand {
  padding-top: 15px;

}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
	color: black;
	text-align: center;
  background-color: white;
  border: solid black 2px;
}

#nav-list a:hover {
	background-color: red;
}
/* END HEADER */

/* Section */

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: grey;
	margin-bottom: 20px;
	padding: 10px;
	color: black;
}
/* End Section */


@media (max-width: 767px) {
	.row > div > article {

		margin: 20px;
	}
}
